body{
margin:0;
  min-height:100vh;
  background:
    radial-gradient(circle at 20% 30%, rgba(255,46,99,0.25), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(138,43,226,0.25), transparent 40%),
    #1a1a1a;
  color:white;
  font-family:sans-serif;
}



.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 40px;
	background: rgb(20,20,20,0.4);
	border-radius: 15px;
	position: relative;
	backdrop-filter:blur(0px);
	box-shadow: 0 0 20px rgb(255,46,99,0.3), 0 0 40px rgb(134,43,226,0.9);
}



.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 40px;
	font-weight: bold;
	color: #ff2e63;
	letter-spacing: 2px;
}


.header:hover {
	box-shadow: 0 0 30px rgb(255,46,99,0.9), 0 0 60px rgb(138,43,226,0.9);
	transition: 0.5s;
}




.menu {
     display: flex;
	gap:25xp;
	position: absolute;
	right: 50px;
	font-size: 20px;
}


.menu a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: 0.5s;
	position: relative;
	background: #ff2e63;
	border-radius: 5px;
	padding: 5px;
}

.menu a:hover {
	color: #ff2e63;
	background: white;
}


.menu a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -5px;
	left: 0;
	transition: 0.5s;
}

.menu a::after {
	width: 100%;
}



.tagline {
	display: block;
	font-size: 14px;
	color: #aaa;
	margin-top: 5px;
	letter-spacing: 3px;
}


.logo::before,
.logo::after{
  content:'';
  position:absolute;
  top:50%;
  width:150px;
  height:4px;
  background:linear-gradient(to right, transparent, #ff2e63);
}


.logo::before{
  right:110%;
}

.logo::after{
  left:110%;
  background:linear-gradient(to left, transparent, #8a2bee);
}


.menu a:nth-child(3){
  background: linear-gradient(45deg,#ff2e63,#8a2bee);
  padding:6px 12px;
  border-radius:8px;
}




.homeanime {
	padding: 60px;
	max-width: 1200px;
	margin: auto;
}


.homeanime h2 {
	margin-bottom: 25px;
	
}


.anime-grid {
	display: grid;
	grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
	gap:25px;
}



.anime-card {
	  background: rgba(255,255,255,0.03);
	border-radius: 12px;
	overflow: hidden;
	transition: 0.5s;
	cursor: pointer;
}


.anime-card img {
	width: 100%;
	display: block;
}



.anime-card p {
	padding: 10px;
	font-size: 14px;
	color:##ff2e63;
}


.anime-card:hover {
	transform: translateY(-6px);
	box-shadow: 0 8px 20px rgb(255,46,99,0.3);
}



.footer {
	margin-top: 80px;
	background: linear-gradient(to top, #0d0d0d, #141414);
	padding: 50px 20px 20px;
	text-align: center;
	border-top: 1px solid rgb(255,46,99,0.9);
}



.footer h3 {
	color: #ff2e63;
	margin-bottom: 10px;
}


.footer p {
	color: #aaa;
	font-size: 14px;
	margin-bottom: 25px;
}

.adres {
	display: flex;
	justify-content: center;
	gap:25px;
	margin-bottom: 30px;
}


.adres a {
	text-decoration: none;
	color: #f1f1f1;
	transition: 0.5s;
	
}


.adres a:hover {
	color:#ff2e63;
	text-shadow: 0 0 10px #ff2e63;
}


.copy-right {
	font-size: 17px;
	color: #666;
}